<center><h1>Admin page</h1></center>



<!--<div class="eight columns"style="background:#B4D2BA; margin-bottom:5px; border-radius:15px">
  <p> Create new human </p>
  <label for="devicesName">Enter new human name : </label>
  <input class="u-full-width" type="string" placeholder="Jean-Jacques" id="exampleEmailInput">


</div>-->

<h2> Create new human </h2>

<div class="row">
<div class="two columns"><p></p></div>
  <div class="eight columns">
    <div class="container">
      <br/>
<form action="/admin/humans/new" method="post">
  <input class="u-full-width" name="first_name" type="text" placeholder="First Name">
  <input class="u-full-width" name="last_name" type="text" placeholder="Last Name">
  <button class="u-full-width" type="submit">CREATE</button>
  </form>
</div>
  </div>
</div>
<h3><a href="/admin/humans">Access your humans</a></h3>
<br/>





<h2>Distribute Undefined Devices</h2>
<% @undefined_devices.each_with_index do |undefined_device,i| %>


<%if i%3==0%>
   <div class="row" >
<%end%>



       <div class="four columns">
         <div class="container">
          <center><h5><%= undefined_device.mac_address %></h5></center>
          <form action="admin/devices/<%=undefined_device.id%>" method="post">
                  <label>Which human owns this device?</label>
                  <select class="u-full-width" name="human_id">
                    <%Human.all.each do |human|%>
                    <option value="<%=human.id%>"><%=human.first_name + " " + human.last_name%></option>
                    <%end%>
                  </select>

                  <label>Device type</label>
                  <select class="u-full-width" name="device_type">
                    <option value="laptop">Laptop</option>
                    <option value="mobile">Mobile</option>
                    <option value="tablet">Tablet</option>
                    <option value="other">Other</option>
                  </select>
                  <input class="u-full-width" name="name" type="text" placeholder="Device Name">
                  <button class="u-full-width" type="submit">Assign</button>



          </form>
        </div>
       </div>

<%if i%3==2%>
 </div>
<%end%>

<% end %>
