<center><h1>Admin page</h1></center>



<!--<div class="eight columns"style="background:#B4D2BA; margin-bottom:5px; border-radius:15px">
  <p> Create new human </p>
  <label for="devicesName">Enter new human name : </label>
  <input class="u-full-width" type="string" placeholder="Jean-Jacques" id="exampleEmailInput">


</div>-->

<h2> Create new human </h2>

<div class="row">
<div class="two columns"><p></p></div>
  <div class="eight columns"style="background:#f3f3f3; margin-bottom:5px; border-radius:5px">
    <div class="container">
      <br/>
<form action="/admin/humans/new" method="post">
  <input class="u-full-width" name="first_name" type="text" placeholder="First Name">
  <input class="u-full-width" name="last_name" type="text" placeholder="Last Name">
  <button class="u-full-width" type="submit">CREATE</button>
  </form>
</div>
  </div>
</div>
<h3><a href="/admin/humans">Access your humans</a></h3>
<br/>
<h2>Distribute Undefined Devices</h2>
<% @undefined_devices.each_with_index do |undefined_devices,i| %>


<%if i%3==0%>
   <div class="row" >
<%end%>



       <div class="four columns" style="background:#f3f3f3; margin-bottom:5px; border-radius:15px">
         <div class="container">
          <p><%= undefined_devices.mac_address %></p>
          <form action="admin/devices/<%=undefined_devices.id%>" method="post">
                  <label>Which human owns this device?</label>
                  <select class="u-full-width" name="human_id">
                    <%Human.all.each do |human|%>
                    <option value="<%=human.id%>"><%=human.first_name + " " + human.last_name%></option>
                    <%end%>
                  </select>

                  <label>Device type</label>
                  <select class="u-full-width" id="exampleRecipientInput">
                    <option value="Option 1">Laptop</option>
                    <option value="Option 2">Mobile</option>
                    <option value="Option 2">Tablet</option>
                    <option value="Option 3">Other</option>
                  </select>
                  <label for="devicesName">Enter new device name</label>
                  <input class="u-full-width" type="string" placeholder="Mom's Android" id="exampleEmailInput">


          </form>
        </div>
       </div>

<%if i%3==2%>
 </div>
<%end%>

<% end %>
