<form action="/admin/login" method="post">
  <input type="text" name="username" class="u-full-width" placeholder="Username"/>
  <input type="password" name="password" class="u-full-width" placeholder="Password"/>
  <button type="submit" class="u-full-width">Login &raquo;</button>
</form>
