<center><h1>Spydeer</h1></center>

<h2>Overview</h2>
<div class="row">

  <div class="six columns" style="background:#f8f8f8; margin-bottom:5px">
     <h4 align="center">Number of devices connected</h4>
     <center><h5><%=Device.all.count%></h5></center>
  </div>




  <div class="six columns" style="background:#f8f8f8; margin-bottom:5px">
     <h4 align="center">Number of humans connected </h4>
     <center><h5><%=Human.where{:is_present}.count%></h5></center>
  </div>


</div>
<p></p>

<h2>Track your humans</h2>
<div class="container">
  <table class="u-full-width">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Number of devices</th>
      <th>Connected since </th>
    </tr>

  </thead>
  <tbody></tbody>
  </table>


</div>







<h2>Unknown devices on the network</h2>
        <% @mac_address.each_with_index do |mac_address,i| %>
        <%if i%3==0%>
           <div class="row">
       <%end%>

               <div class="four columns" style="background:#f3f3f3; margin-bottom:5px; border-radius:15px">
                  <p align="center"><%=mac_address%></p>
               </div>

       <%if i%3==2%>
         </div>
       <%end%>
        <% end %>
